.shop-container {
    display: grid;
    grid-template-columns: 5fr 2fr;
    padding: 20px 0;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 45px;
    margin: 30px auto;
}

.cart-container {
    height: fit-content;
    box-shadow: 0 0 20px #00000020;
    border-radius: 8px 0 0 8px;
    padding: 16px;
    position: sticky;
    top: 10px;
}

.clear-cart {
    padding: 8px 30px;
    margin: 10px auto;
    background-color: #FF3030;
    color: white;
    display: block;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
}

.review-order {
    padding: 8px 42px;
    margin: 10px auto;
    background-color: #FF9900;
    color: white;
    display: block;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}

/* Answer and question */
.ans-and-q {
    width: 1140px;
    margin: 0 auto;
    padding: 16px;
}
.ans-and-q h3{
    font-size: 28px;
    text-align: center;
}
.ans-and-q h4{
    font-size: 22px;
}
.ans-and-q p{
    font-size: 18px;
}



/* Mobile and Tablet devices and Responsive */

@media only screen and (max-width: 1365px) {
    .shop-container {
        grid-template-columns: 2fr 1fr;
    }

    .products-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (max-width: 768px) {
    .shop-container {
        grid-template-columns: 2fr 1.5fr;
    }

    .products-container {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media only screen and (max-width: 600px) {
    .shop-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .products-container {
        grid-template-columns: repeat(1, 1fr);
    }
}